html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}


.sidebar {
    width: 180px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.flex-grow-1 {
}


.sidebar {
    background-color: #081c15;
    min-width: 220px;
}

    .sidebar .nav-link {
        color: white;
        border-radius: 6px;
        padding: 0.5rem 0.75rem;
    }


        .sidebar .nav-link:hover {
            background-color: #1b4332;
            color: #fff;
        }


        .sidebar .nav-link.active {
            background-color: #1b4332;
            border: 1px solid #004050;
            color: #fff;
            font-weight: bold;
        }

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: white !important;
    opacity: 1;
}


@media (max-width: 767.98px) {
    .sidebar {
        display: none;
    }
}
