@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5">

    <div class="row align-items-center">

        <div class="col-md-6 text-center text-md-start mb-4 mb-md-0">
            <h1 class="display-4 fw-bold" style="color: white">Welcome to the CMCS System</h1>
            <p class="lead" style="color: white">
                The Contract Monthly Claim System (CMCS) streamlines the submission, verification, and approval of monthly claims for lecturers. Explore the Sidebar to view your claims, upload documents, and track approvals efficiently. Please login to use the system.
            </p>
        </div>

       
    </div>
</div>


